body {
  font-family: "Montserrat", sans-serif;
  color: #515151;
}

a {
  text-decoration: none;
  color: #515151;
}

.container {
  max-width: 1360px;
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  padding: 7px 15px;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  gap: 96px;
}

.header__nav {
  display: flex;
  gap: 54px;
}

.nav__link:hover {
  color: #cca05d;
}

/* welcome block */

.welcome__block {
  background: url("../img/farmer.png");
  background-size: cover;
  /* background-position: center center; */
  height: 90vh;
  max-height: 538px;
}

.welcome__container {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    1.87deg,
    rgba(81, 81, 81, 0.2) 49.78%,
    rgba(81, 81, 81, 0) 98.21%
  );
}

.welcome__title {
  margin: 0;
  padding-top: 148px;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 93px;
  text-transform: uppercase;
  text-shadow: 0 4px 4px #000000;
}

/* services block */

.block__title {
  padding: 105px 0 0;
  font-size: 36px;
  font-weight: 800;
}

.services__grid {
  margin-top: 67px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}

.service {
  width: 325px;
  height: 281px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.service1 {
  background: url("../img/bg_service1.jpg");
}
.service2 {
  background: url("../img/bg_service2.jpg");
}
.service3 {
  background: url("../img/bg_service3.jpg");
}
.service4 {
  background: url("../img/bg_service4.jpg");
}
.service5 {
  background: url("../img/bg_service5.jpg");
}
.service6 {
  background: url("../img/bg_service6.jpg");
}

.service__title {
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}

/* export block */

.export__content {
  position: relative;
}

.export__map {
  position: absolute;
  top: 0;
  right: 0;
}

.export__title {
  padding-top: 190px;
  max-width: 304px;
  color: #515151;
  font-size: 22px;
  font-weight: 800;
}

.export__subtitle {
  margin-top: 20px;
  max-width: 394px;
  color: #515151;
  font-size: 15px;
  font-weight: 300;
}

.countries {
  color: #cca05d;
  font-weight: 500;
}

/* contacts block */

.contacts__grid {
  margin: 97px 0 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.contact {
  width: 100%;
  max-width: 277px;
  display: flex;
  gap: 30px;
}

.contact__logo {
  min-width: 75px;
  text-align: center;
}

.contact__title {
  font-size: 19px;
  font-weight: 800;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.contact__subtitle {
  font-size: 15px;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .export__map {
    position: relative;
  }

  .export__map img {
    width: 100%;
  }

  .export__title {
    padding-top: 10px;
    max-width: 600px;
  }
  
  .export__subtitle {
    margin-top: 20px;
    max-width: 600px;
  }
}

@media screen and (max-width: 760px) {
  .welcome__block {
    background-position: center center;
    height: 90vh;
    max-height: 438px;
  }

  .welcome__title {
    padding-top: 108px;
    font-size: 46px;
    line-height: 73px;
  }

  .services__grid {
    gap: 15px;
    justify-content: space-evenly;
  }

  .contacts__grid {
    justify-content: space-around;
    gap: 20px;
  }
}

@media screen and (max-width: 630px) {
  .header__nav {
    gap: 24px;
  }

  .header__phone {
    display: none;
  }

  .welcome__block {
    background-position: center center;
    height: 90vh;
    max-height: 600px;
  }

  .welcome__title {
    padding-top: 208px;
    font-size: 36px;
    line-height: 53px;
  }
}

@media screen and (max-width: 330px) {
  .header__nav {
    gap: 10px;
  }

  .welcome__title {
    padding-top: 208px;
    font-size: 26px;
    line-height: 36px;
  }
}